<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href=" https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css">
  </head>
  <body style="background-color:lightslategrey; text-align:center;margin:50px;">
    <div class="jumbotron" style="margin:40vh;background-color:lightgrey;border:4px solid darkslategrey">
  <h1 class="display-4">login to start your call!</h1>
  <p class="lead">or Register if account not available</p>
  <hr class="my-4">
    <a href="/login" style="font-size:20px ;color:darkslategrey; margin-right:20px">Login</a>
  <a href="/register"style="font-size:20px ;color:darkslategrey">Register</a>
</div>


  </body>
</html>
