<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
    <body style="background-color:lightslategrey; text-align:center;margin:50px;">
      <div class="jumbotron" style="margin:40vh;background-color:lightgrey;border:4px solid darkslategrey">
    <form class="" action="/login" method="post">
      <input type="text" name="username" value="">
<input type="text" name="password" value="">
    <button type="submit" name="button"></button>
</form>
</div>
  </body>
</html>
