<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
  hello alive is awesomessss
  <a href="/register">hello</a>
  <a href="/login">yo</a>  
  </body>
</html>
